<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.relucks.erldict</string>
	<key>CFBundleName</key>
	<string>Erlang</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright Ericsson AB 1997-2011.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Ericsson AB</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>erlang</string>
</dict>
</plist>
